@import url(https://fonts.googleapis.com/earlyaccess/notosansjp.css);
body{
	background-color:#ffffff;
	color : #000000;
	margin: 8px;
	font-family: 'Noto Sans JP', sans-serif;
	font-size:16px;
}
p{
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}
img{
	max-width: 100%;
	height: auto;
}
h2{
	margin: 0px 0px 0px 0px;
	padding: 0px 10px 0px 10px;
	background-image: linear-gradient(to right, #bfffdc 10%, #e2ffef 100%);
	background-repeat: no-repeat;
	border-top: 2px solid #38bb73;
	border-bottom: 2px solid #38bb73;
}
h3{
	margin: 10px 0px 10px 0px;
	padding: 0px 10px 0px 10px;
	border-left: 2px solid #38bb73;
}
h4{
	margin: 0px 0px 0px 10px;
	padding: 0px 10px 0px 10px;
	border-left: 2px solid #38bb73;
	font-weight: 400;
}
/* ヘッダー関連 */
header{
	width: 960px;
	margin: 0px auto 0px auto;
	align-items: center;
	background-color: #bfffdc;
	border: 5px solid;
	border-image: radial-gradient(#bfffdc, #38bb73) 49%;
}
h1{
	width: 512px;
	padding: 10px 10px 10px 10px;
	font-size: 0;
	line-height: 1;
}
div#update_date{
	display: flex;
	align-items: center;
}
div#update_date div{
	text-align: center;
	align-items: center;
	margin: 0px auto 0px auto;
}
/*中央部*/
div#wrapper{
	text-align: left;
	background-color: #e2ffef;
	width: 960px;
	overflow-y: auto;
	margin: 0px auto 0px auto;
	border: 5px solid;
	border-image: radial-gradient(#e2ffef, #38bb73) 49%;

}
/*サイドメニュー*/
nav{
	width: 160px;
	float: left;
	margin: 0px 0px 0px 0px;
}
div#wrapper_menu{
	padding: 0px 0px 0px 0px;
}
.nav {
	margin: 10px 10px 10px 10px;
	padding: 0px 0px 0px 0px;
}
.nav li{
	display: inline;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}
.nav li a{
	text-decoration: none;
	width: 128px;
	display: block;
	margin: 0px 0px 2px 0px;
	padding: 2px 2px 2px 2px;
	background-color: #bfffdc;
	border: 4px solid;
	border-image: radial-gradient(#bfffdc, #38bb73) 49%;
	font-size: 15px;
	color: #000000;
}
.nav li a:hover {
	background: #38bb73;
	border: 4px solid;
	border-image: radial-gradient(#38bb73, #bfffdc) 49%;
	color: #ffffff;
}
.nav li a span{
	display: block;
	font-size:12px;
	font-weight:300;
}
/*メイン*/
main{
	width: 760px;
	float: right;
	margin: 10px 10px 10px 10px;
	padding: 10px 10px 10px 10px;
}
.iframe-wrapper{
	position: relative;
	height: 100%;
	border-radius:8px;
	box-shadow: 0px 0px 5px gray;
	overflow: hidden;
	margin: 0px 10px 0px 10px;
	padding: 0px 0px 0px 0px;
}
iframe.youtube{
	width: 100%;
	height: 100%;
	aspect-ratio: 16 / 9;
	padding: 0px 0px 0px 0px;
}
.index_img{
	flex: 1;
	flex-shrink: 1;
	display: block;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	border-radius:8px;
	box-shadow: 0px 0px 5px gray;
	overflow: hidden;
	position: relative;
}
.img{
	flex: 1;
	flex-shrink: 1;
	display: block;
	margin: 0px 10px 0px 10px;
	padding: 0px 0px 0px 0px;
	border-radius:8px;
	box-shadow: 0px 0px 5px gray;
	overflow: hidden;
	position: relative;
}
.img span{
	display: block;
	font-size: 20px;
	font-weight: 300;
}
footer{
	width: 960px;
	margin: 0px auto 0px auto;
	align-items: center;
	background-color: #bfffdc;
	border: 5px solid;
	border-image: radial-gradient(#bfffdc, #38bb73) 49%;
	text-align: center;
	font-size: 14px;
	font-weight: 300;
}
main ul{
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 40px;
}
main ul li{
	font-size: 16px;
	padding-left: 0px;
}
table{
	border-collapse:collapse;
}
th,td{
	border-bottom: solid 2px #38bb73;
	padding: 0px 15px 0px 15px;
}
td img{
	padding: 5px 0px 5px 0px;
}
th{
	width: 100px;
}
main p{
	padding: 0px 15px 0px 15px;
}
main a{
	padding: 0px 15px 0px 15px;
}
iframe{
	padding: 5px 5px 5px 5px;
}
/*交互配置*/
.box{
	padding: 10px 0px 10px 0px;
	display: flex;
	overflow: auto;
}
.box:nth-child(odd){
	flex-direction: row-reverse;
}
.box_item{
	flex: 1;
	flex-shrink: 1;
	padding: 0px 10px 0px 10px;
}
.img:hover div{
	opacity: 1;
}
.img div{
	display:flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
	opacity: 0;
	color: white;
	text-align: center;
	font-size: 28px;
	font-weight: 600;
}