/*@import url(https://fonts.googleapis.com/earlyaccess/notosansjp.css);*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+JP&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap');


body{
	background-color:#ffffff;
	color : #000000;
	margin: 8px;
	font-family: 'Google Sans Flex','Noto Sans JP', sans-serif;
	font-size:16px;
	-webkit-text-size-adjust: 100%;
}

p{
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}
a{
	max-width: 100%;
	height: auto;
}

/*メイン*/
div#wrapper{
	text-align: left;
	background-color: #e2ffef;
	width: 960px;
	overflow-y: auto;
	margin: 0px auto 0px auto;
	border: 5px solid;
	border-image: radial-gradient(#e2ffef, #38bb73) 49%;
}

main{
	width: 760px;
	float: right;
	margin: 10px 10px 10px 10px;
	padding: 10px 10px 10px 10px;
}

main p{
	padding: 0px 15px 0px 15px;
}

main a{
	padding: 0px 15px 0px 15px;
}

/*箇条書き*/
main ul{
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 40px;
}

main ul li{
	font-size: 16px;
	padding-left: 0px;
	word-break: break-all;
}
/*表*/
table{
	border-collapse:collapse;
}

th,td{
	border-bottom: solid 2px #38bb73;
	padding: 0px 15px 0px 15px;
}

td img{
	padding: 5px 0px 5px 0px;
}

th{
	width: 100px;
}

/*交互配置*/
.box{
	padding: 10px 0px 10px 0px;
	display: flex;
	overflow: auto;
}
.box:nth-child(odd){
	flex-direction: row-reverse;
}
.box_item{
	flex: 1;
	flex-shrink: 1;
	padding: 0px 10px 0px 10px;
}
.box .img{
	margin: 0px 10px 0px 10px;
}
/*メインここまで*/

/*見出し*/
/*サイト名*/
h1{
	width: 64px;
	padding: 10px 10px 10px 10px;
	font-size: 0;
	line-height: 1;
}

/*メインタイ*/
h2{
	margin: 0px 0px 0px 0px;
	padding: 0px 10px 0px 10px;
	background-image: linear-gradient(to right, #bfffdc 10%, #e2ffef 100%);
	background-repeat: no-repeat;
	border-top: 2px solid #38bb73;
	border-bottom: 2px solid #38bb73;
}

/*サブタイ*/
h3{
	margin: 10px 0px 10px 0px;
	padding: 0px 10px 0px 10px;
	border-left: 2px solid #38bb73;
}

/*サイドメニュー用*/
h4{
	margin: 0px 0px 0px 10px;
	padding: 0px 10px 0px 10px;
	border-left: 2px solid #38bb73;
	font-weight: 400;
}
/*見出しここまで*/

/*画像処理*/
img{
	max-width: 100%;
	height: auto;
}
.index_img{
	flex: 1;
	flex-shrink: 1;
	display: block;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	border-radius:8px;
	box-shadow: 0px 0px 5px gray;
	overflow: hidden;
	position: relative;
}
.img{
	flex: 1;
	flex-shrink: 1;
	display: block;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	border-radius:8px;
	box-shadow: 0px 0px 5px gray;
	overflow: hidden;
	position: relative;
}

/*画像リンク処理*/
.img span{
	display: block;
	font-size: 20px;
	font-weight: 300;
}
.img:hover div{
	opacity: 1;
}
.img div{
	display:flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
	opacity: 0;
	color: white;
	text-align: center;
	font-size: 28px;
	font-weight: 600;
}
/*画像処理ここまで*/

/*ボタン*/
button{
	text-decoration: none;
	width: 64px;
	display: block;
	margin: 10px 0px 10px 0px;
	padding: 2px 2px 2px 2px;
	background-color: #bfffdc;
	border: 4px solid;
	border-image: radial-gradient(#bfffdc, #38bb73) 49%;
	font-size: 15px;
	color: #000000;
}
button:hover {
	background: #38bb73;
	border: 4px solid;
	border-image: radial-gradient(#38bb73, #bfffdc) 49%;
	color: #ffffff;
}
/*ボタンここまで*/

/*ヘッダー*/
header{
	width: 960px;
	margin: 0px auto 0px auto;
	align-items: center;
	background-color: #bfffdc;
	border: 5px solid;
	border-image: radial-gradient(#bfffdc, #38bb73) 49%;
}

div#header_wrapper{
	display: flex;
	align-items: center;
}
/*ロゴとメニュー*/
div#logo_menu{
	display: flex;
}
div#logo_menu div{
	padding: 10px 0px 10px 0px;
	display: block;
	height: 64px;
}


div#logo_menu p{
	margin: -4px 0px -14px 0px;
}


/*最終更新などのテキスト*/
div#header_text{
	text-align: center;
	align-items: center;
	margin: 0px auto 0px auto;
}
/*ヘッダーここまで*/

/*サイドメニュー*/
nav{
	width: 160px;
	float: left;
	margin: 0px 0px 0px 0px;
}
div#wrapper_menu{
	padding: 0px 0px 0px 0px;
}
.nav {
	margin: 10px 10px 10px 10px;
	padding: 0px 0px 0px 0px;
}
.nav li{
	display: inline;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

/*クリック処理*/
.nav li a{
	text-decoration: none;
	width: 128px;
	display: block;
	margin: 0px 0px 2px 0px;
	padding: 2px 2px 2px 2px;
	background-color: #bfffdc;
	border: 4px solid;
	border-image: radial-gradient(#bfffdc, #38bb73) 49%;
	font-size: 15px;
	color: #000000;
}
.nav li a:hover {
	background: #38bb73;
	border: 4px solid;
	border-image: radial-gradient(#38bb73, #bfffdc) 49%;
	color: #ffffff;
}
.nav li a span{
	display: block;
	font-size:12px;
	font-weight:300;
}
/*クリック処理ここまで*/

/*ハンバーガーメニュー(PC用)*/
.hamburger_bg{
	display: none;
}

/*YouTube*/
.iframe-wrapper{
	position: relative;
	height: 100%;
	border-radius:8px;
	box-shadow: 0px 0px 5px gray;
	overflow: hidden;
	margin: 0px 10px 0px 10px;
	padding: 0px 0px 0px 0px;
}

iframe{
	padding: 5px 5px 5px 5px;
}

iframe.youtube{
	width: 100%;
	height: 100%;
	aspect-ratio: 16 / 9;
	padding: 0px 0px 0px 0px;
}
/*YouTubeここまで*/

/*フッター*/
footer{
	width: 960px;
	margin: 0px auto 0px auto;
	align-items: center;
	background-color: #bfffdc;
	border: 5px solid;
	border-image: radial-gradient(#bfffdc, #38bb73) 49%;
	text-align: center;
	font-size: 14px;
	font-weight: 300;
}

/*~~~~~~~~ここからモバイル用~~~~~~~~*/

@media (max-width: 599px) {

/*サイドメニュー右寄せ*/
h4{
	margin: 0px 10px 0px 10px;
	color: white;
	text-align: right;
	border-right: 2px solid #bfffdc;
	border-left: 0;
}

/*メイン部*/
main{
	width: auto;
	float: none;
}
div#wrapper{
	text-align: left;
	background-color: #e2ffef;
	width: auto;
	overflow-y: auto;
	margin: 0px auto 0px auto;
	border: 5px solid;
	border-image: radial-gradient(#e2ffef, #38bb73) 49%;
}
/*縦配置*/
.box{
	display: block;
}

/*ヘッダー*/
header{
	width: auto;
}
div#header_wrapper{
	display: block;
}

/*ロゴとメニュー*/
div#logo_menu{
	justify-content: space-between
}
div#logo_menu p{
	display: none;
}

/*最終更新などのテキスト部*/
div#header_text{
	display: block;
	text-align: left;
	align-items: left;
	margin: 0px 0px 0px 5px;
}
div#header_text{
	display: block;
	text-align: left;
	align-items: left;
	margin: 0px 0px 0px 5px;
}
div#logo_menu div{
	padding: 0px 0px 0px 0px;
	height: 54px;
    width: 54px;
}
/*ヘッダーここまで*/

/*ハンバーガー*/
.hamburger{
	margin: 10px 10px 10px 10px;
	display: block;
	position: relative;
	width: 64px;
	height: 64px;
	background-color: #e2ffef;
	border: 5px solid;
	border-image: radial-gradient(#e2ffef, #38bb73) 49%;
	z-index:10;
}
.hamburger span{
	display: block;
	left: 14px;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: #38bb73;
	position: absolute;
}
.hamburger_bg.open{
	display: block;
	position: fixed; 
	width: 100%;
	height: 100%;
	top: 0; 
	left: 0;
	background: rgba(3,3,3,.5);
	z-index:5;
}

/*三本線(閉)*/
.hamburger span:nth-child(1) {
  top: 16px;
}
.hamburger span:nth-child(2) {
	top: 0;
	bottom: 0;
	margin: auto;
}
.hamburger span:nth-child(3) {
	bottom: 16px;
}

/*三本線(開)*/
.hamburger.open span:nth-child(1) {
	transform: translateY(9.5px) rotate(-45deg)
}
.hamburger.open span:nth-child(2) {
	opacity: 0;
}
.hamburger.open span:nth-child(3) {
	transform: translateY(-9.5px) rotate(45deg)
}
/*ハンバーガーここまで*/

/*メニュー*/
nav{
	position: absolute;
	width: 160px;
	float: none;
	margin: 12.5px 13px 10px 10px;
	top: 0px;
	right: 74px;
	display: none;
}
.nav li a{
	background-color: #e2ffef;
	border-image: radial-gradient(#e2ffef, #38bb73) 49%;
}
#sidemenu.open{
	display: inline;
	z-index:10;
}
/*メニューここまで*/

/*フッター*/
footer{
	width: auto;
}
